{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 49.460851384036005,
        "longitude": 11.081626047380269,
        "elevation": 309,
        "unit_system": "metric",
        "location_name": "P58",
        "time_zone": "UTC",
        "external_url": "https://haukassistant.duckdns.org/",
        "internal_url": null
    }
}